---
---

@import "{{ site.theme }}";
@import "normalize";
@import "rouge-github";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

//* Navigation bar
.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
 // @include small {
 // ul.topnav li {float: none;}
//}
}

.topnav li {float: right;}

.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav li a:hover:not(.active) {background-color: #111;}

.topnav li a.active {background-color: #acdfdb;}

/* Hide the menu icon when the navbar display */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@ include small {
  .topnav ul li {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
	
.topnav.responsive ul li {float: none;}	
}

//* Body

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #202020;
  overflow-x:hidden;
}

#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;

  &:focus {
    position: fixed;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
    background: invert($body-link-color);
    outline: thick solid invert($body-link-color);
  }
}

a {
  color: #3b927e;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #75b2a4;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: #7b78b4;
  background-image:
    linear-gradient(120deg, rgba(110, 83, 121, 0.75), rgba(32, 121, 121, 0.75)),
    url('{{ site.baseurl}}/img/ecoservRbanner.JPG');
  
  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;

  @include large {
    font-size: 3.25rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

.main-content {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 85rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
    
  kbd {
    background-color: #fafbfc;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
    color: #444d56;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
  }

  img {
    max-width: 100%;
  }
  
img[src*='#left'] {
    float: left;
}
img[src*='#right'] {
    float: right;
}
img[src*='#center'] {
    display: block;
    margin: auto;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: $section-headings-color;
  }
  
  h1 {
    color: #775d89;
  }
  
  h2 {
    color: #3abd9f;
  }

  p {
    margin-bottom: 1em;
  }

  code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: $code-text-color;
    background-color: $code-bg-color;
    border-radius: 0.3rem;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0.3rem;

    > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

  ul,
  ol {
    margin-top: 0;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 0px solid #ffffff;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;

  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: $blockquote-text-color;
}


// Outer div to allow coloured bg full width --- 
 .row-full{
 width: 100vw;
 position: relative;
 margin-left: -50vw;
 margin-top: 0px;
 left: 50%;
 background-color: #ffffff;
}

// Outer divs to allow fixed-image bgs full width ---

.row-full-img-right{
background-position: 50%;
width: 100vw;
position: relative;
margin-left: -50vw;
left: 50%;
overflow-x: hidden;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

.row-full-img-left{
background-position: 50%;
width: 100vw;
position: relative;
margin-left: -50vw;
left: 50%;
overflow-x: hidden;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

// these are the inner div classes to go with full-width bg image
.main-content-right {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 85rem;
    padding: 2rem 40rem 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 2rem 15rem 2rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 5rem 2rem 1rem;
    font-size: 1rem;
  }
}  
  

.main-content-left {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 85rem;
    padding: 2rem 6rem 2rem 40rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 2rem 4rem 2rem 20rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem 2rem 8rem;
    font-size: 1rem;
  }
}  

// ID-specific parameters (images, fonts etc) ---
#about {
background-color: #efedf0;
}

#baseline {
background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.05)),
  url('{{site.baseurl}}/img/dane_baseline_bg.png');
}

#datasets {
background-color: #f2f2f2;
}
  
#services {
background-color: #544a5a;
background-image: linear-gradient(120deg, rgba(130, 113, 141, 0.25), rgba(86, 64, 94, 0.75), rgba(86, 64, 94, 0.95)),
  url('{{site.baseurl}}/img/score_water.png');
color: #ffffff;
margin-top: 0px;
margin-bottom: 0px;
  
  h1{
    color: #ffffff;
  }
}

#netgain {
 background-image: url('{{site.baseurl}}/img/change.png');
 background-attachment: scroll;
}

#contact{
 background-image: linear-gradient(120deg, rgba(110, 83, 121, 0.75), rgba(32, 121, 121, 0.75)), url('{{ site.baseurl}}/img/ecoservRbanner.JPG');
 color: #ffffff !important;
}

#contact h1 {
    color: #ffffff;
  } 

#elms {
background-image: linear-gradient(120deg, rgba(251,248,240, 0.85), rgba(251,248,240, 0.65), rgba(255,255,255, 0.15)), url('{{ site.baseurl}}/img/SAB-2094.jpg');
}

// Custom buttons ---
.downloadbutton {
  padding: 20px;
  color: #f2f2f2f2;
  background-color: #197867;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downloadbutton:hover {
  background-color: #9fd4cb;
  text-decoration: none;
  color: #000000;
-webkit-box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.linkbutton {
  padding: 20px;
  color: #151515;
  background-color: #c0f696;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}


.linkbutton:hover {
  background-color: #aec5a5;
  text-decoration: none;
  color: #000000;
-webkit-box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

#boldbutton {
// a hot pink attention-grabbing button
  background-color: #ab1a63;
  color: #fff;
  padding: 20px 35px;
}

#boldbutton:hover {
  background-color: #b29ea9;
  color: #7c536a;
}

// Responsive image full width
.responsive {
  max-width: 100%;
  height: auto;
}

// logo image class

.logos {
  max-width: 400px;
  height: auto;
}

// Small font for disclaimer
.disclaimer {
font-size: 0.8rem;
color: #7E7A81;
padding-left: 5vw;
}


// For image comparison with slider
.juxtapose-container{
margin:auto;
 width: 50vw;
}

// fixing wonky handle

.jx-handle {
  margin:0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);	
}
.jx-arrow.jx-left {
	margin:0;
	left: 2px;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent currentColor transparent transparent;
  top: calc(50% - 8px);
}

.jx-arrow.jx-right {
	margin:0;
	right: 2px;
	border-style: solid;
	border-width: 8px 0 8px 8px;
	border-color: transparent transparent transparent currentColor;
  top: calc(50% - 8px);
}

.jx-controller {
 top: calc(50% - 30px) !important;
}
